# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.history/
core
logs/
log/
log
wandb/
wandb

# Mac
.DS_Store

# PEP 582
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
build/
*egg-info/
*.whl

# Debug
.debug/
# debug*
AgentGym-RL/saves/
# debug/

.outputs/
.idea/
.vscode/
.trash/
.ipynb_checkpoints

amlt
!scripts/amlt
!scripts/amlt/**
# data
outputs
outputs_old

data/
datasets/
.cache/

# Local large artifacts
AgentGym/agentenv-webarena/apptainer_images/

codex-config-backup.toml
